* {
    margin: 0;
    padding: 0;
}

html {
    min-height: 200vh;
}


/*Navbar*/
.navbar {
    display: flex;
    gap: 10%;
    align-items: center;
    padding: 2% 4%;
}

.navbar>* {
    padding: 1%;
    text-decoration: none;
    color: black;
}

.navbar>*:hover {
    background-color: aqua;
}

.cart-container {
    margin-left: auto;
    width: 25px;
}


/*Products*/

.shop-container {
    display: flex;
    padding: 2%;
    flex-wrap: wrap;
}

.product {
    margin: 5%;
    background-color: antiquewhite;
    padding: 10%;
    transition: all 0.5s;
    cursor: pointer;
}

.product:hover {
    transform: scale(1.1);
}